body {
  background-color: #fafafa;
  color: #757575;
  font-family: "Consolas", Arial, Helvetica, sans-serif;
  margin: 0;
}

li{
  padding: 0!important;
}

button.icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 39px;
  padding: 0;
}
.todo button.icon{
  top: -5px;
}

main {
  background: #fff;
  width: 60vw;
  /* width: 700px; */
  margin: 70px auto;
  border-radius: 2px;
  overflow: hidden;
}
@media screen and (max-width: 921px) {
  main{
    width: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  padding: 0 14px;
  text-align: center;
}

header h1 {
  display: inline-block;
  color: #fff;
  margin: 15px auto;
}

.todo {
  display: flex;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.2s;
  user-select: none;
  padding: 16px 0px 4px 16px;
  align-items: center;
}

.todo.completed .todo-title {
  text-decoration: line-through;
}

.todo span{
  padding: 0;
}

.todo-form input {
 text-indent: 10px;
}

.edit-input{
  margin: 14px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #757575;
  padding: 7px;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
  text-indent: 10px;
}

.todo-edit-form button.icon{
  top: 12px;
  left: 2px;
}

.todo-edit-form > div {
  border-bottom: 1px solid lightgray
}